@model StundetModel;

@{
    ViewData["Title"] = "Editar al Alumno";

}
<div class="text-center">  
    <h1 class="display-2">Editar al Alumno:@Model.Nombre </h1>
</div>


<form asp-asp-controller="Alumnos" asp-action="AlumnosEdit">

<div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba el Nombre" />
</div>

<button type ="submit" class="btn btn-primary"> Guardar</button>

<a asp-controller="Alumnos" asp-action="StudentList"
class="btn btn-secundary mb-3">
    Regresar
</a>

</form>