@model ProfeModel; 

@{
    ViewData["Title"] = "Editar Lista de Profesores";

}
<div class="text-center">  
    <h1 class="display-2">Editar datos del Maestro: @Model.Nombre</h1>
</div>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="profes" asp-action="ProfesEdit">

<div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba el Nombre" />
</div>
<div class="mb-3">
        <label for="matricula" class="form-label">Materia que imparte</label>
        <input type="text" class="form-control" id="carrera" name="carrera" placeholder="Escriba la Materia" />
</div>
<div class="mb-3">
        <label for="matricula" class="form-label">Sexo</label>
        <input type="text" class="form-control" id="sexo" name="sexo" placeholder="Escriba el genero" />
</div>



<button type ="submit" class="btn btn-primary"> Guardar</button>

<a asp-controller="profes" asp-action="ListaProfesores"
class="btn btn-secundary mb-3">
    Regresar
</a>
</form>