@model DegreeModel;

@{
    ViewData["Title"] = "Borrar la Carrera";

}
<div class="mb-3">  
  ¿Esta seguro de borrar la carrera: @Model.Nombre?
</div>

<form asp-controller="Degree" asp-action="DegreeDeleted">
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secundary" asp-action="DegreeList" asp-controller="Degree">
        Regresar
    </a>

</form>